body {
    width: auto;
    height: auto;
    background: #f0f0f0;
}

.container {
    max-width: 840px;
    margin: 0 auto;
    padding: 89px;
}

.container .rectangle {
    padding: 56px;
    background: #FFF;
    border-radius: 24px 24px 176px 24px;
}

.input .form {

    display: flex;
    gap: 16px;
    align-items: center;
}

.form .text input {
    width: 160px;
    cursor: pointer;
    padding: 25px 10px;
    border-radius: 8px;
    color: #716F6F;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form .text input:focus {
    border: 1px solid #854DFF;
}

.sub-text {
    color: #716F6F;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.line-button {
    position: relative;
}

.line {
    
    padding: 48px 0px 33px 0px;
}

.submit-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 8px;
    padding: 0px;
    border: none;
    background-color: white;
}

.submit-btn img {
    padding: 25px;
    border-radius: 9999px;
    background: #854DFF;
}

.submit-btn img:hover {
    padding: 25px;
    border-radius: 9999px;
    background: black;
}

.output {
    display: flex;
}

.output .number div {
    color: #854DFF;
    font-family: Poppins;
    font-size: 96px;
    font-weight: 400;
    margin-right: 19px;
}

.title div {
    color: #141414;
    font-family: Poppins, sans-serif;
    font-size: 96px;
    font-weight: 700;

}


@media screen and (max-width: 768px) {

    body {
        display: block;
    }

    .container {
        max-width: 368px;
        padding: 164px 16px;
    }

    .container .rectangle {
        border-radius: 24px 24px 88px 24px;
        padding: 30px;
    }

    .output .number div {
        color: #854DFF;
        font-family: Poppins;
        font-size: 52px;
        font-weight: 700;
        margin-right: 19px;
    }

    .title div {
        color: #141414;
        font-family: Poppins, sans-serif;
        font-size: 52px;
        font-weight: 700;

    }

    .form .text input {
        width: 90px;
        cursor: pointer;
        padding: 17px 12px;
        border-radius: 8px;
        color: #716F6F;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.1px;
        text-transform: uppercase;
        box-sizing: border-box;
        border: 1px solid #DBDBDB;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }

    .submit-btn {
        cursor: pointer;
        position: absolute;
        right: -13.5px;
        top: 24px;
        padding: 0px;
        border: none;
        background-color: white;
    }

    .submit-btn img {
        padding: 19px;
        border-radius: 9999px;
        background: #854DFF;

    }

    .submit-btn img:hover {
        padding: 19px;
        border-radius: 9999px;
        background: #854DFF;
    }

}